.page {
  display: flex;
}


.sidebar {
  text-align: center;
  width: 30%;
  height: 100vh;

  .illustration {
    width: 100%;
    height: 40%;
    background-size: cover;
  }

  .logo {
    margin-top: -45px;
    border-radius: 50%;
    border: solid 4px white;
    z-index: 3;

  }

  .solid {
    z-index: 3;
  }

  img {
    width: 90px;
    height: 90px;
    z-index: 3;
  }

  h2 {

  }

  p {
    margin: 10%;
  }
}
